<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snack_house">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.snack_house.CartActivity" android:noHistory="true"></activity>
        <activity android:name="com.example.snack_house.ConfirmationActivity" />
        <activity android:name="com.example.snack_house.ProductActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="list_detail"
                    android:scheme="products" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.snack_house.CheckoutActivity" android:noHistory="true"></activity>
        <activity android:name="com.example.snack_house.DisplayActivity" android:noHistory="true"></activity>
        <activity android:name="com.example.snack_house.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>